.mapLayout {
    width: 100%;
    height: 50vw;
    min-height: 350px;
    position: relative;
}

.mapLayout--mob {
    width: 100%;
    height: 60vw;
    min-height: 300px;
    position: relative;
}

.mapLayoutMini {
    width: 100%;
    height: 40vw;
    min-height: 250px;
    position: relative;
}

.mapLayout--mobMini {
    width: 100%;
    height: 50vw;
    min-height: 250px;
    position: relative;
}


.mapNavWrapper {
    position: absolute;
    z-index: 100;
    width: 100%;
}

.mapBottomNav {
    position: absolute;
    z-index: 100;
    bottom: 0;
    background-color: transparent;
    display: flex;
    justify-content: start;
    left: 20px;
}

.mapNav {
    padding: 20px 30px 0 20px;
    display: flex; 
    justify-content: space-between;
    justify-items: end;
    align-items: start;
}

.mapNav--mob {
    display: flex; 
    justify-content: space-between;
    align-items: start;
}

.navIconWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: center;
}

.mapNavButton {
    position: absolute;
    z-index: 100;
    bottom: 55px;
    right: 20px;
}